<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC9Gsi-Ilrp9jXiQUa-k6RTLKT9iATpUs</string>
	<key>GCM_SENDER_ID</key>
	<string>113797493850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNetflixClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-eogflix</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-eogflix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113797493850:ios:d9e2bb88018bddf214d463</string>
</dict>
</plist>